@import 'tailwindcss';

@theme {
   --font-display: 'Inter', 'Anuphan', 'sans-serif';
}

/* Custom variant for dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
   html,
   body {
      @apply bg-gray-50 text-gray-800 dark:bg-gray-950 dark:text-gray-100;
      font-family: 'Inter', 'Anuphan', sans-serif;
      font-size: 16px;
      line-height: 1.5;
   }
}
